<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="true" />
  </configSections>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="DBContext" connectionString="metadata=res://*/DBEntities.IApplicationDBContext.csdl|res://*/DBEntities.IApplicationDBContext.ssdl|res://*/DBEntities.IApplicationDBContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=3.131.105.103;initial catalog=crmsdd;persist security info=True;user id=crmsdd;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="DataAccessLayer.Properties.Settings.SampleCodeConnectionString"
      connectionString="Data Source=3.131.105.103;Initial Catalog=crmsdd;Integrated Security=False;User ID=crmsdd;Password=crmsdd2021;"
      providerName="System.Data.SqlClient" />
    <add name="DataAccessLayer.Properties.Settings.SampleCodeConnectionString"
      connectionString="Data Source=3.131.105.103;Initial Catalog=crmsdd;Persist Security Info=True;User ID=crmsdd;Password=crmsdd2021"
      providerName="System.Data.SqlClient" />
    <add name="DataAccessLayer.Properties.Settings.CRMSDDConnectionString"
      connectionString="Data Source=3.131.105.103;Initial Catalog=CRMSDD;User ID=crmsdd;Password=crmsdd2021"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>